<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tournois de Ping-Pong à Montreuil</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
  <style>
    
  </style>
</head>

<body>
  <header class="accueil-image">
    <div class="content">
      <h1 class="accueil-titre">Tournois de Ping-Pong à Montreuil</h1>
      <p class="accueil-description">Préparez vos raquettes, aiguisez vos réflexes, les tournois de ping-pong sont de retour !</p>
      <div class="text-center">
        <a href="/inscription" class="btn btn-primary btn-mise-en-oeuvre">Inscrivez-vous dès maintenant</a>

      </div>
    </div>
  </header>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>
