<!-- Conteneur principal pour le contenu de la page -->
<div class="container">
    <br />
    <!-- Titre de la section des tournois -->
    <h1 class="h1-custom texte-couleur-bleu">Les Tournois</h1>
    <br />

    <!-- Alert pour afficher des informations générales -->
    <div class="alert alert-primary" role="alert">
        <div class="message-information">
            <i class="bi bi-info-circle bi-info-circle-custom"></i>
            Liste de l'ensemble des Tournois.
        </div>
    </div>

    <!-- Barre de recherche pour filtrer les tournois -->
    <div class="search-bar">
        <input
            type="text"
            [(ngModel)]="searchTerm"
            (keyup)="filterTournois()"
            placeholder="Rechercher un joueur ..."
        />
        <button class="search-button" (click)="filterTournois()">
            <i class="bi bi-search bi-search-custom"></i>
            <span class="hide">Rechercher</span>
        </button>
    </div>
</div>

<!-- Conteneur pour les cartes des tournois -->
<div class="container">
    <!-- Grille pour l'affichage des cartes -->
    <div class="row sm-justify-content-center">
        <!-- Boucle pour afficher chaque tournoi -->
        <div
            class="col-lg-3 col-md-4 col-sm-6"
            *ngFor="
                let tournoi of filteredTournois.slice(
                    (currentPage - 1) * itemsPerPage,
                    currentPage * itemsPerPage
                )
            "
        >
            <!-- Carte individuelle pour un tournoi -->
            <div class="card card-custom">
                <div class="card-body card-body-custom">
                    <h1 class="card-title card-title-custom">
                        {{ tournoi.nomTournoi | uppercase }}
                    </h1>
                    <h2 class="card-title card-title-second">
                        {{ tournoi._id | titlecase }}
                    </h2>
                    <p class="card-text">Type : {{ tournoi.type }}</p>
                    <p class="card-text">Nature : {{ tournoi.nature }}</p>
                    <p class="card-text">
                        Place disponible : {{ tournoi.placeDisponible }}
                    </p>

                    <p class="card-text">
                        <span
                            *ngIf="tournoi.statut"
                            class="text-success fw-bold"
                            >Ouvert</span
                        >
                        <span
                            *ngIf="!tournoi.statut"
                            class="text-danger fw-bold"
                            >Fermé</span
                        >
                    </p>
                    <p class="card-text">
                        Date :
                        {{ tournoi.dateOuverture | date : "dd/MM/yyyy" }} -
                        {{ tournoi.dateFermeture | date : "dd/MM/yyyy" }}
                    </p>
                    <p class="card-text">Joueurs :</p>
                    <ul
                        class="list-group"
                        *ngFor="let joueur of tournoi.joueurs"
                    >
                        <li class="list-group-item">
                            {{ joueur.prenom }} {{ joueur.nom }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Pagination pour naviguer entre les pages de tournois -->
    <div class="paginator">
        <span>Nombre</span>
        <select
            [(ngModel)]="itemsPerPage"
            (change)="onItemsPerPageChange(itemsPerPage)"
        >
            <option value="5">5</option>
            <option value="10" selected>10</option>
            <option value="15">15</option>
        </select>

        <span
            >{{ startItemIndex }} - {{ endItemIndex }} of {{ totalItems }}</span
        >
        <button (click)="onPrevPage()" [disabled]="currentPage === 1">
            Prev
        </button>
        <button (click)="onNextPage()" [disabled]="currentPage === totalPages">
            Next
        </button>
    </div>
</div>
