.container {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

h2 {
  color: #ffffff;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  color: #ffffff;
}

.form-control {
  border: 2px solid #bd0348;
}

.btn-primary {
  background-color: #1d42a3;
  border-color: #bd0348;
}

.btn-primary:hover {
  background-color: #b11b33;
  border-color: #1d42a3;
}

div[role="alert"] {
  margin-top: 20px;
  padding: 10px;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
}

p {
  margin: 0;
}
