table {
  width: 100%;
  border-collapse: collapse;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.tab {
  margin: 50px;
}

thead {
  background-color: #b11b33;
}

th, td {
  padding: 10px;
  border: 1px solid #ffffff;
}

th {
  color: #ffffff;
  font-weight: bold;
}


tbody tr:nth-child(even) {
  background-color: #f7d7eb;
}

tbody tr:nth-child(odd) {
  background-color: #fff;
}


.btn-lg {
  margin-top: 20px;
}

.btn-lg i {
  color: #fff;
  margin-right: 5px;
}

.btn-lg:hover {
  background-color: #ed1639;
  border-color: #1d42a3;
}
