
.container {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}




th, td {
  padding: 10px;
  border: 1px solid #b11b33;
}

th {
  color: #ffffff;
  font-weight: bold;
  background: #b11b33;
  border-color: white;
}

tbody tr:last-child td {
  border-bottom: 1px solid #b11b33;
}

.btn-primary {
  background-color: #b11b33;
  border-color: #b11b33;
}

.tournament-actions .btn-primary:hover {
  background-color: #1d42a3;
  border-color: #b11b33;
}
